* {
  /*outline: red 1px solid;*/
}

body {
  background-color: black;
}

.main {
  background-color: white;
  margin: 110px 0 0 0;
  padding: 0 0 0 100px;
  min-width: 1200px;
  height: 500px;
  position: relative;
  z-index: 1;
}

.instructions {
  position: relative;
  left: 20px;
  top: 150px;
  color: black;
  z-index: 20;
}

.ryu {
  float: left;    
  width: 659px;
  height: 494px;
}

.ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool {
  width: 659px;
  height: 494px;
}

.ryu-ready, .ryu-throwing, .ryu-cool {
  display: none;
} 

.ryu-ready {
  background-image: url('../images/ryu-ready-position.gif');
}

.ryu-still {
  background-image: url('../images/ryu-standing-still.png');
}

.ryu-throwing {
  background-image: url('../images/ryu-throwing-hadouken.png');
}

.ryu-cool {
  background-image: url('../images/ryu-cool.gif');
}

.hadouken {
  background-image: url('../images/hadouken.gif');
  width: 156px;
  height: 90px;
  display: none;
  float: left;
  position: absolute;
  z-index: 10;
  top: 173px;
  left: 620px;
}

.hadouken, .ryu-ready, .ryu-still, .ryu-throwing {
  background-repeat: no-repeat;
}

